.ty{
	color:red;
}

.img-resize{
    max-width:300px;
    max-height:300px;
}

.text-muted{color:#000!important}
.invalid-feedback{color:#fff700}

.img-article-left {
	width: auto;
    max-width: 400px;

	height: auto;
	float: left;

}
.table-main-calc td {

    border-style: solid;
    border-width: 1px;
    border-color: gray;
}