.ty{
	color:red;
}

.img-resize{
    max-width:300px;
    max-height:300px;
}

.text-muted{color:#000!important}
.invalid-feedback{color:#fff700}

.img-article-left {
	width: auto;
    max-width: 400px;

	height: auto;
	float: left;

}



.table-main-calc td {

    border-style: double;

}
.headers-table{
    color: blue;
    background-color: yellow;
    font-size: 18px;
    font-style: italic;
    font-weight: bold ;
    text-align: center;
}

.head-table{
    color: red;
    font-size: 20px;
    font-style: italic;
    font-weight: bold ;
    text-align: center;}
.values-table{
    color: red;
    font-size: 32px;
    font-style: italic;
    font-weight: bold ;
    text-align: center;
}

.table-elems{
    display: none ;
}

.table-elems.t-show{
    display: revert;
}
.table-rows{
    display:none ;
}
.table-rows.t-show{
    display: revert;}

.pifagor-sq{
    width: 25%;
    text-align: center;
}
.yellow{
    background-color: orange;
}


.pifagor-name{
color:blue;
font-style:italic;
font-size:calc(11px + 8 * (100vw - 320px) / 880);
font-weight: bold;
width:20%

}


.pifagor-val{
color:red;
font-style:italic;
font-size:20px;
font-weight: bold;
width:20%
}

.tbl_value{
color:red;
font-style:italic;
font-weight: bold;
font-size:calc(16px + 8 * (100vw - 320px) / 880);
}

.work_nums{
color:#008B8B;
font-style:italic;
font-weight: bold;
font-size:24px;
}