{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="{% url 'mainapp:index' %}">
                <img src="{% static 'img/logo_2.png'%}" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'mainapp:news'%}">Новости</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="{% url 'mainapp:services'%}">Услуги</a>
                    </li>
                   {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="ddProfile" role="button" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            {{user.first_name|default:user.username}}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="ddProfile">
                            {%if user.is_superuser%}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'workplaceapp:main'%}">Рабочее место</a>
                            <div class="dropdown-divider"></div>
                            {%endif%}
                            {%if user.confirm_email == False%}
                            <a class="dropdown-item" href="#">Подтвердить Email</a>
                            {%else%}
                            <a class="dropdown-item" href="{% url 'authapp:edit' %}">Редактировать профиль</a>
                            {%endif%}
                            <a class="dropdown-item" href="#">Мои курсы</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Модерация</a>
                            <a class="dropdown-item" href="#">Административный раздел</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'authapp:logout'%}">Выход</a>
                        </div>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'authapp:login' %}">Войти</a>
                        </li>
                    {% endif %}

                </ul>
                <span><a href="#">🇷🇺</a> <i class="fas fa-grip-lines-vertical"></i> <a href="#">🇬🇧</a></span>
            </div>
        </div>
    </nav>
