{% extends 'authapp/base.html'%}


 {%block content%}
    <form method="post">
    {% csrf_token%}
      <p>
        <input id="id_username" class="form-control" type="text" name="username" placeholder="Имя пользователя"
          required="" autofocus="">
      </p>
      <p>
        <input id="id_password" class="form-control" type="password" name="password" placeholder="Пароль" required="">
      </p>
      <p>
        <button type="submit" class="btn btn-primary btn-block">Войти</button>
    </p>
    </form>
    <div class="container text-center">
         <div class="row justify-content-between">
    <div class="col-4">
      <p class="text-left">
      <a href="{% url 'authapp:register'%}" class="text-light">Регистрация</a>
    </p>
    </div>
    <div class="col-6">
       <p class="text-right">
      <a href="" class="text-light">Забыли пароль?</a>
    </p>
    </div>
  </div>


    </div>
      {%endblock%}
{%block js%}
<!-- Toasts -->
<script>
$(document).ready(function () {
{% if messages %}
// Toasts
$(".toast").toast({ delay: 5000 });
$(".toast").toast("show");
{% endif %}
});

</script>
{%endblock%}