{% extends 'workplaceapp/base.html' %}

{% block content %}

<div class="row">

  <div class="col-lg-8">
    {%for client in object_list%}
    <div class="card my-2">
      <div class="card-body">
        <table style=" width:100%">
          <tr><td>
        <h5 class="card-title">{{client.first_name}} {{client.last_name}}</h5>
          </td><td>
            <h6 class="card-subtitle mb-2 text-muted">{{client.born_date}}</h6>
          </td>
          </tr>
          </table>
        <h6 class="card-subtitle mb-2 text-muted">{{client.date_created}}</h6>
        <p class="card-text">{{client.city}}</p>
        <p class="card-text">{{client.age}}</p>
        <a href="{% url 'mainapp:index' %}" class="card-link">Подробнее</a>

      </div>
    </div>
    {%endfor%}



  </div>

  <div class="col-lg-4">
    <div class="card my-2 sticky-top">
      <div class="card-header">
        Фильтры
      </div>
      <div class="card-body">
        <form action="">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Дата от...</span>
            </div>
            <input type="date" class="form-control" name="dateFrom">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Дата до...</span>
            </div>
            <input type="date" class="form-control" name="dateTo">
          </div>

          <button type="submit" class="btn btn-primary btn-block">Фильтровать</button>
        </form>
      </div>
    </div>
  </div>
</div>

{%if page_obj.paginator.num_pages != 1 %}
  {%include 'mainapp/includes/inc_paginator.html'%}
{%endif%}




{% endblock %}