{% extends 'workplaceapp/base.html' %}
{% load static %}
{% block content %}
    <p class="h3 text-center text-light">{{ filter_text }}</p>
<div class="row">

  <div class="col-lg-8">
    {%for client in object_list%}

    <div class="card mb-3" >
      <div class="row no-gutters">
        <div class="col-md-3">
           {% if client.photo %}
                <img class="ml-2 mt-2" width="130px" src="{{client.photo.url}}">
                {% else %}
                <img class="ml-2 mt-2" width="130px" src="{% static 'img/no_photo.png' %}">
                {% endif%}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{client.first_name}} {{client.last_name}}</h5>
            <h6 class="card-subtitle">Возраст: {{client.age}}
              <br>
              Дата рождения:{{client.born_date|date:"d.m.Y"}}
            </h6>
            <p class="card-text mt-2">
              Город: {{client.city}}<br>
              Регистрация: {{client.date_created}}<br>
              Проведено консультаций:{{client.client_of.count}}
            </p>
            <a href="{% url 'workplaceapp:client_detail' pk=client.pk %}" class="card-link">Подробнее</a>

          </div>
        </div>
      </div>
    </div>
    {%endfor%}



  </div>

  <div class="col-lg-4 ">
    <div class="card my-2 sticky-top">
        <div class="card-header container">
          <div class="row">
            <div class="col  ">
              Выборки клиентов
            </div>
              <div class="col">
                <form action="">
                  <button type="submit" class="btn btn-danger btn-block btn-sm"
                          href="{% url 'workplaceapp:all_clients' %}" {% if not sort_list %} disabled{% endif %}>Сброс</button>
                </form>
              </div>
          </div>
        </div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
         <li class="nav-item" role="presentation">
        <a class="nav-link active" id="forname-tab" data-toggle="tab" href="#forname" role="tab" aria-controls="forname" aria-selected="true">По имени</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="forage-tab" data-toggle="tab" href="#forage" role="tab" aria-controls="forage" aria-selected="false">По году рождения</a>
         </li>
         <li class="nav-item" role="presentation">
         <a class="nav-link" id="sort-tab" data-toggle="tab" href="#sort" role="tab" aria-controls="sort" aria-selected="false">Сортировка</a>
          </li>
        </ul>


<div class="tab-content card-body" id="myTabContent">
  <div class="tab-pane fade show active" id="forname" role="tabpanel" aria-labelledby="forname-tab">
       <form action="">
          <div class="input mb-3 mt-2">
              <p class="h5">Имя/Фамилия</p>
               <input type="text" class="form-control " name="search">

          </div>
          <button type="submit" class="btn btn-primary btn-block">Поиск</button>
        </form>
  </div>

  <div class="tab-pane fade" id="forage" role="tabpanel" aria-labelledby="forage-tab">
              <form action="">
          <div class="input-group mb-3 mt-2">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Год от...</span>
            </div>
            <input type="number" class="form-control" name="ageAt">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Год до...</span>
            </div>
            <input type="number" class="form-control" name="ageTo">
          </div>

          <button type="submit" class="btn btn-primary btn-block">Показать</button>
        </form>
  </div>

    <div class="tab-pane fade" id="sort" role="tabpanel" aria-labelledby="sort-tab">


      <form action="">

          <div class="form-check">
              <input class="form-check-input" type="radio" value="reg"  name="types" id="type1" checked>
              <label class="form-check-label" for="type1">По дате регистрации</label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" value="serv" name="types" id="type2" >
              <label class="form-check-label" for="type2">По количеству консультаций </label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio" value="born" name="types" id="type3" >
              <label class="form-check-label" for="type3">По дате рождения </label>
          </div>

         <div class="container">
         <div class="form-check">
              <input class="form-check-input" type="radio"  value="up" name="sort" id="sortUp">
              <label class="form-check-label" for="sortUp"> По возрастанию </label>
          </div>
          <div class="form-check">
              <input class="form-check-input" type="radio"  value="down" name="sort" id="sortDown" checked>
              <label class="form-check-label" for="sortDown"> По убыванию </label>
          </div>
         </div>

             <button  class="btn btn-success" type="submit">Сортировать</button>
         </form>
    </div>
</div>





{#      <div class="card-header">#}
{#        Фильтры сортировки#}
{#      </div>#}
{#      <div class="card-body">#}
{#          <button type="" id="u">123</button>#}
{#        <form action="">#}
{#          <div class="input-group mb-3">#}
{#            <div class="input-group-prepend">#}
{#              <span class="input-group-text" id="basic-addon1">Дата от...</span>#}
{#            </div>#}
{#            <input type="date" class="form-control" name="dateFrom">#}
{#          </div>#}
{#          <div class="input-group mb-3">#}
{#            <div class="input-group-prepend">#}
{#              <span class="input-group-text" id="basic-addon1">Дата до...</span>#}
{#            </div>#}
{#            <input type="date" class="form-control" name="dateTo">#}
{#          </div>#}
{##}
{#          <button type="submit" class="btn btn-primary btn-block">Фильтровать</button>#}
{#        </form>#}
{#      </div>#}
{#<br>#}
{##}
{##}
{#      <div class="card-header">#}
{#        Фильтры#}
{#      </div>#}
{#      <div class="card-body">#}
{#        <form action="">#}
{#          <div class="input-group mb-3">#}
{#            <div class="input-group-prepend">#}
{#              <span class="input-group-text" id="basic-addon1">Дата от...</span>#}
{#            </div>#}
{#            <input type="date" class="form-control" name="dateFrom">#}
{#          </div>#}
{#          <div class="input-group mb-3">#}
{#            <div class="input-group-prepend">#}
{#              <span class="input-group-text" id="basic-addon1">Дата до...</span>#}
{#            </div>#}
{#            <input type="date" class="form-control" name="dateTo">#}
{#          </div>#}
{##}
{#          <button type="submit" class="btn btn-primary btn-block">Фильтровать</button>#}
{#        </form>#}
{#      </div>#}
    </div>
  </div>
</div>

{%if page_obj.paginator.num_pages != 1 %}
  {%include 'mainapp/includes/inc_paginator.html'%}
{%endif%}




{% endblock %}