{% extends 'workplaceapp/base.html' %}

{% block content %}

<div class="row">

  <div class="col-lg-12">
    <div class="card my-2">
      <div class=d-flex flex-row mb-3">
        <div class="w-25"><p>15646</p></div>
        <div class="w-50"><p>15646</p></div>
        <div class="w-25"><p>15646</p></div>
      </div>
        <div class="card-body">
        <table style=" width:100%">
          <tr><td>
        <h5 class="card-title">{{object.first_name}} {{object.last_name}}</h5>
          </td><td>
            <h6 class="card-subtitle mb-2 text-muted">{{object.born_date}}</h6>
          </td>
          </tr>
          </table>
        <h6 class="card-subtitle mb-2 text-muted">{{object.date_created}}</h6>
        <p class="card-text">{{object.city}}</p>
        <p class="card-text">{{object.age}}</p>
        <a href="{% url 'mainapp:index' %}" class="card-link">Подробнее</a>

      </div>

    </div>




  </div>


</div>





{% endblock %}