{% extends 'workplaceapp/base.html' %}
{% load static %}
{% block content %}

<div class="row">

  <div class="col-lg-8">
    {%for client in object_list%}

    <div class="card mb-3" >
      <div class="row no-gutters">
        <div class="col-md-3">
           {% if client.photo %}
                <img class="ml-2 mt-2" width="130px" src="{{client.photo.url}}">
                {% else %}
                <img class="ml-2 mt-2" width="130px" src="{% static 'img/no_photo.png' %}">
                {% endif%}
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{client.first_name}} {{client.last_name}}</h5>
            <h6 class="card-subtitle">Возраст: {{client.age}}
              <br>
              Дата рождения:{{client.born_date|date:"d.m.Y"}}
            </h6>
            <p class="card-text mt-2">
              Город: {{client.city}}<br>
              Регистрация: {{client.date_created}}<br>
              Проведено консультаций:
            </p>
            <a href="{% url 'workplaceapp:client_detail' pk=client.pk %}" class="card-link">Подробнее</a>

          </div>
        </div>
      </div>
    </div>
    {%endfor%}



  </div>

  <div class="col-lg-4">
    <div class="card my-2 sticky-top">
      <div class="card-header">
        Фильтры
      </div>
      <div class="card-body">
        <form action="">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Дата от...</span>
            </div>
            <input type="date" class="form-control" name="dateFrom">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">Дата до...</span>
            </div>
            <input type="date" class="form-control" name="dateTo">
          </div>

          <button type="submit" class="btn btn-primary btn-block">Фильтровать</button>
        </form>
      </div>
    </div>
  </div>
</div>

{%if page_obj.paginator.num_pages != 1 %}
  {%include 'mainapp/includes/inc_paginator.html'%}
{%endif%}




{% endblock %}