{% extends 'workplaceapp/base.html' %}
{% load static %}
{% block content %}

<div class="row">

    <div class="col-lg-12 ">
        <div class="card my-2">
            <div class="d-sm-flex mb-3">
            <!--        sm- small -переход-->
            <div class="w-35">
                {% if object.photo %}
                <img class="w-100 mt-2 px-2 img-article-left" src="{{object.photo.url}}">
                {% else %}
                <img class="w-100 p-2 mt-2" src="{% static 'img/no_photo.png' %}">
                {% endif%}
            </div>
            <div class="w-65 mx-4">
                <!--            Сводка по клиенту-->
                <p class="h3 card-title mt-3">{{object.first_name}} {{object.last_name}}</p>
                <p class="h4 mt-1"> Возраст: {{object.age}} </p>
                <p class="h4 mt-1"> Дата рождения: {{object.born_date|date:"d.m.Y"}}</p>
                {% if object.born_time%}
                <p class="h4 mt-1"> Время рождения: {{object.born_time}}</p>
                {%endif%}
                <p class="h4 mt-1"> Город: {{object.city}}</p>
                <p>
                    <button class="btn btn-primary" type="button"
                            data-toggle="collapse" data-target="#ClientContacts"
                            aria-expanded="false" aria-controls="ClientContacts">
                        Контакты
                    </button>
                </p>
                <div class="collapse" id="ClientContacts">

                    {% if object.telephone %}
                    <p class="h4 mt-1">Телефон: {{object.telephone}},
                        Viber
                        {% if object.viber %}
                            &#10004
                        {% else %}
                            &#10008
                        {%endif%}
                        , Whats'up
                        {% if object.whatsup %}
                            &#10004<br>
                        {% else %}
                            &#10008 <br>
                        {%endif%}
                        </p>
                    {%endif%}
                    {% if object.telegram %}
                    <p class="h4 mt-1">Телеграмм: {{object.telegram}}</p>
                    {%endif%}
                    {% if object.instagram %}
                    <p class="h4 mt-1">Instagram: {{object.instagram}}</p>
                    {%endif%}
                    {% if object.vk %}
                    <p class="h4 mt-1">VK: {{object.vk}}</p>
                    {%endif%}


<!--                    {%if object.telephone%}-->
<!--                    <p class="h4 mt-1"> Телефон:{{object.telephone}}</p>-->
<!--                    {%endif%}-->

                </div>

            </div>
        </div>
        <div class="card-body">

            <table class="table-main-calc" style="width: 100%">
                <th colspan="5" class="head-table"> Основной видический расчёт</th>
                <tr class="headers-table">
                    <td>
                       ЧХ
                    </td>
                      <td>
                        Экспрессия
                    </td>
                      <td>
                       Подход
                    </td>
                    <td class="table-elems headers-table">
                        Метод
                    </td>
                     <td class="table-elems headers-table">
                        Карма
                    </td>
                </tr>
                <tr class="values-table">
                    <td>
                       {{object.info.main_tbl.num_char}}
                    </td>
                      <td>
                        {{object.info.main_tbl.expr}}
                    </td>
                      <td>
                        {{object.info.main_tbl.way}}
                    </td>
                    <td class="table-elems">
                      {{object.info.main_tbl.method}}
                    </td>
                     <td class="table-elems">
                        {{object.info.main_tbl.karm}}
                    </td>
                </tr>
            </table>
            <table class="table-main-calc" style="width: 100%">
                <tr class ="table-rows headers-table">
                    <td>
                        Метод
                    </td>
                      <td>
                        Карма
                    </td>
                </tr>
                 <tr class ="table-rows values-table">
                    <td>
                        {{object.info.main_tbl.method}}
                    </td>
                      <td>
                        {{object.info.main_tbl.karm}}
                    </td>
                </tr>
                 <tr class="headers-table">
                    <td>
                        Проблема воплощения
                    </td>
                      <td>
                        Солярный год
                    </td>
                </tr>
                 <tr  class="values-table">
                    <td>
                        {{object.info.main_tbl.trable}}
                    </td>
                      <td>
                        {{object.info.main_tbl.sol_year}}
                    </td>
                </tr>
            </table>

            <h6 class="card-subtitle mb-2 text-muted">{{object.date_created}}</h6>
            <p class="card-text">{{object.info}}</p>
            <p class="card-text">{{object.age}}</p>
            <a href="{% url 'mainapp:index' %}" class="card-link">Подробнее</a>

        </div>
            <div>
                {% if img %}
                <img src="data:image/png;base64, {{img|safe}}" class="container">
                {% endif %}
            </div>

    </div>


</div>


</div>


{% endblock %}