{% extends 'workplaceapp/base.html' %}

{% block content %}


    <div class="jumbotron">
        <h1 class="display-4">{{date_now}}</h1>
        <p class="lead ty">
            На данном портале мы собрали сообщество людей объединённых одной целью - получать знания! В современном мире
            уже сложно представить человека не общающегося с компьютером. Повсеместное проникновение интернета дало
            возможность объеденить людей и сделать знания доступными как никогда ранее. У тебя есть уникальная
            возможность получить актуальные знания используя современные технологии. Не упусти свой шанс и переходи на
            вкладку "Курсы", записывайся на курсы и становись востребованным специалистом.
        </p>
    </div>
 

    <div class="my-5">
        <hr>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-7">
            <h1>Сотни готовых курсов от лучших авторов</h1>
            <p>Выбирай из огромной коллекции готовых решений для самообразования</p>
        </div>
        <div class="col-md-5">
            <img src="static/img/promo001.jpg" alt="" class="w-100 h-100 rounded" style="opacity: 0.7;">
        </div>
    </div>

    <div class="my-5">
        <hr>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-5">
            <img src="static/img/promo002.jpg" alt="" class="w-100 h-100 rounded" style="opacity: 0.7;">
        </div>
        <div class="col-md-7">
            <h1>Монетизируй знания</h1>
            <p>Эксперт в свой области - давай к нам! Выгодные условия для тебя и пользователи со всего мира на нашей
                платформы</p>
        </div>
    </div>

    <div class="my-5">
        <hr>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-md-7">
            <h1>Вместе мы сила</h1>
            <p>Проекты любой сложности становятся легче, если ты в компании единомышленников. Присоединяйся!</p>
        </div>
        <div class="col-md-5">
            <img src="static/img/promo003.jpg" alt="" class="w-100 h-100 rounded" style="opacity: 0.7;">
        </div>
    </div>


{% endblock%}

{%block js%}
<!-- Toasts -->
<script>
$(document).ready(function () {
{% if messages %}
// Toasts
$(".toast").toast({ delay: 12000 });
$(".toast").toast("show");
{% endif %}
});

</script>
{%endblock%}